@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit-regular";
  src: url("../public/fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: "outfit-medium";
  src: url("../public/fonts/Outfit-medium.ttf");
}
@font-face {
  font-family: "outfit-light";
  src: url("../public/fonts/Outfit-light.ttf");
}
